<!-- lấy thông tin bảng SACH -->
@*@using MvcThuVien.Models
    @using PagedList.Mvc;
    @model PagedList.PagedList<MvcThuVien.Models.Sach>*@

@model IEnumerable<MvcThuVien.Models.Sach>

@helper Truncate(string input, int length)
{
if (input.Length < length)
{
        @input}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<div class="container">
        <h2>QUẢN LÝ THÔNG TIN SÁCH</h2>

        <p>
            @Html.ActionLink("THÊM MỚI", "Themmoisach")
        </p>
        <table class="table">
            <tr>
                <th style="width:200px">Tên sách</th>
                <th style="width:120px">Ảnh bìa</th>
                <th style="width:150px">Ngày cập nhật</th>
                <th style="width:120px">Số lượng</th>
                <th style="width:120px">Tên Khoa</th>
                <th style="width:200px"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td>

                        <img src="@Url.Content("~/Images/"+item.AnhBia)" width="100" height="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Suasach", new { id = item.MaSach }) |
                        @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.MaSach }) |
                        @Html.ActionLink("Xóa", "Xoasach", new { id = item.MaSach })
                    </td>
                </tr>
            }

        </table>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }
        </style>
    </div>*@

<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> <b>QUẢN LÝ THÔNG TIN SÁCH</b><br />
            <p>
                <a href="@Url.Action("Themmoisach","Admin")"><input type="button" value="THÊM MỚI" class="btn btn-secondary" /></a>           
            </p>
            <hr />
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:200px">Tên sách</th>
                            <th style="width:120px">Ảnh bìa</th>
                            <th style="width:150px">Ngày cập nhật</th>
                            <th style="width:120px">Số lượng</th>
                            <th style="width:120px">Tên Khoa</th>
                            <th style="width:200px">Action (Edit)</th>
                            <th style="width:200px">Action (Delete)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenSach</td>
                                <td><img src="@Url.Content("~/Images/"+item.AnhBia)" width="100" height="150" /></td>
                                <td>@item.NgayCapNhat</td>
                                <td>@item.SoLuong</td>
                                <td>@item.Khoa.TenKhoa</td>
                                
                                <td><a href="@Url.Action("Chitietsach","Admin", new { id = item.MaSach })"><input type="button" value="Chi tiết" class="btn btn-info" /></a></td>
                                <td><a href="@Url.Action("Xoasach","Admin", new { id = item.MaSach })"><input type="button" value="Xóa" class="btn btn-warning" /></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</div>
    </div>
</div>
