@model MvcThuVien.Models.Sach

@{
    ViewBag.Title = "Xoasach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h2>XÁC NHẬN THÔNG TIN SÁCH CẦN XÓA</h2>

    <h3>Bạn muốn xóa sách này?</h3>
    <div>
        <h4>Sach</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sách :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSach)
            </dd>

            <dt>
                Ảnh bìa :
            </dt>

            <dd>
                <img src="@Url.Content("~/Images/"+Model.AnhBia)" width="100" height="150" />
            </dd>

            <dt>
                Ngày cập nhật :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayCapNhat)
            </dd>

            <dt>
                Số lượng :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuong)
            </dd>

            <dt>
                Khoa :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Khoa.TenKhoa)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("QUAY VỀ QUẢN LÝ SÁCH", "Sach")
            </div>
        }
    </div>
</div>